/* Sekcja HERO */
.hero {
    height: 20vh;
    background: linear-gradient(120deg, #0d6efd, #6610f2);
}

/* Linki w liście */
#linki a {
    text-decoration: none;
    color: #0d6efd;
    font-weight: 500;
}

#linki a:hover {
    text-decoration: underline;
}

/* Styl dla kontenera okienka - adaptacyjny */
.cyber-badge-box {
    /* Używamy zmiennych Bootstrapa dla tła i ramek */
    background-color: var(--bs-tertiary-bg) !important; 
    border: 1px solid var(--bs-primary) !important;
    border-radius: 4px;
    width: 24%;
    text-align: center;
    padding: 5px 0;
    transition: all 0.3s ease; /* Płynne przejście kolorów */
}

[data-bs-theme="light"] .cyber-badge-box {
    background-color: #f8f9fa !important;
    border-color: #0d6efd !important;
}

[data-bs-theme="dark"] body {
    background-color: #ffffff;
    color: #212529;
}
