/* Sekcja HERO */
.hero {
    height: 20vh;
    background: linear-gradient(120deg, #0d6efd, #6610f2);
}

/* Linki w liście */
#linki a {
    text-decoration: none;
    color: #0d6efd;
    font-weight: 500;
}

#linki a:hover {
    text-decoration: underline;
}

/* Styl dla kontenera okienka */
.cyber-badge-box {
    background-color: #2b1a4d !important; /*zmiana koloru tła*/
    border: 1px solid #00d2ff !important; /* Kzmiana koloru ramki*/
    border-radius: 4px;
    width: 24%;
    text-align: center;
    padding: 5px 0;
}

/*kolorki dla alertów*/
.row-critical td {
    background-color: rgba(255, 0, 0, 0.16) !important; /* Tło komórek */
    /*border-left: 5px solid #ff0000 !important; 
    border-right: 5px solid #ff0000 !important;*/
}

.row-warning td {
    background-color: rgba(255, 187, 0, 0.236) !important; /* Tło komórek */
    /*border-left: 5px solid #ffa500 !important;
    border-right: 5px solid #ffa500!important;*/
}
